@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
}

body {
    background-image: linear-gradient(to bottom, #2F6330, #116314);
}
main{
    background-color: white;

    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #071b03de ;
}
h1{
    color: #1FB224;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(1, 36, 4, 0.767);
}
h2{
    color: #27E32D;
}